/*
 * Copyright Entanglement Garden Developers
 * SPDX-License-Identifier: AGPL-3.0-only
 */

/* this file is divided into sections that probably should be individual files eventually,
 * which get combined and minified before going to static-gen
*/

/* global */
body {
    font-family: Sans;
    background-color: #202224;
    color: #fff;
    height: 100%;
    margin: 0
}

html {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    padding-bottom: 1em;
    padding-top: 1em;
    min-height: 3em;
}

.footer {
    margin-bottom: 1em;
    margin-top: 2em;
    color: #555555;
}

.brand {
    font-family: Sans;
    position: absolute;
    color: #9f9;
}

.brand-name {
    font-size: 18pt;
    margin: 0;
    text-align: center;
}

.brand-domain {
    margin: 0;
    font-size: 10pt;
    font-style: italic;
}

.menu-wrapper {
    text-align: center;
}

.menu {
    display: inline-block;
    text-align: initial;
}

.container {
    padding-left: 3em;
    padding-right: 3em;
}

.menu-item {
    font-family: Sans;
}

a.menu-item {
    text-decoration: none;
}

.content {
    padding-top: 2em;
    background-color: #333;
    border-radius: 1em; /* very round */
    overflow: auto;
}


a {
    color: #999;
}


/* form layout */
.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 1em;
    border-radius: 1em;
    background-color: #101010;
    color: #aaa;
}

.form-field-wrapper {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

/* form elements */
input[type="text"], input[type="password"], input[type="email"] {
    background: #131618;
    color: #fff;
    border: solid #495057 1px;
    padding: .25rem .375rem;
}

.btn {
    width: fit-content;
    color: #fff;
    border: solid #495057 1px;
    padding: .25rem .375rem;
}

.btn-primary {
    background-color: #0062cc;
}

.form-field-label {
    padding-bottom: 0.25em;
}

.form-field-label-title {
    display: block;
}

.form-field-label-description {
    display: block;
}

.radio-label {
    background-color: #999;
    color: #fff;
    border: solid #495057 1px;
    padding: .25rem .375rem;
}

select {
    width: fit-content;
    background-color: #999;
    border: solid #495057 1px;
    padding: .25rem .375rem;
}

/* this doesnt work. why? */
input[type="radio"]:checked + label {
    background-color: #0062cc;
}


/* this was left over from something else, get rid of it when all uses are found */
.button, button {
    color: #999;
    background-color: #222;
    border: solid #000 0.3em;
    padding: 0.25em;
    border-radius: 0.25em;
    text-decoration: none;
}


/* misc layout helpers */
.pull-right {
    float: right;
}

.center {
    text-align: center;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.monospace-block {
    font-family: 'Courier New', Courier, monospace;
    border: solid 1px;
    padding: 1em;
}

/* setup */
.setup-menu {
    margin-top: 1em;
}

.setup-menu-step {
    color: #fff;
}

/* login */
.login > form > table {
    margin: 0 auto;
    padding-top: 5em;
}
